/**
 * Google Map Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-google-map {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 50%;
  }
}
